.user-stats{
  display: inline-block;
  background: #FFFFFF;
  width: 550px;
  height:fit-content;
  margin-top: 5%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
  .user-stats h2 {
    text-align: center;
    text-decoration: underline;
    color: rgb(217, 142, 255);
    font-size: 30px;
  }
  
  .user-stats p {
    color: #666;
  }
 

