.single-song {
  color: white;
  text-align: left;
}

.single-song .left-stuff {
  float: left;
}

.single-song .right-stuff {
  float: right;
}

.single-song img {
  padding: 20px;
  display: inline-flex;
  margin-right: 10px;
  padding-bottom: 0px;
}

.single-song .song-title {
  margin-top: 190px;
  font-size: 40px;
  text-align: left;
  color: white;
  margin-right: 100px;

  margin-left: 10px;
  float: right;
}

.single-song .preview {
  font-size: 40px;
  text-align: left;
  color: white;
  margin-left: -400px;
  float: right;
}

.single-song .artist-image {
  border-radius: 50%;
}

.single-song .album-artist {
  margin-top: -100px;
  margin-left: 310px;
}

.single-song .artist-name {
  padding: 10px;
}

.single-song .release-date {
  padding: 5px;
}

.single-song .album-name {
  padding: 5px;
  padding-left: 10px;
}

.single-song .explicit {
  padding: 10px;
}

.single-song .release-date {
  padding: 10px;
}

.single-song .explicit {
  color: red;
}
