.single-playlist {
  font-family: Arial, sans-serif;
}
.album-cover {
  width: 250px;
  float: left;
  padding: 20px;
}
.album-genre {
  width: 250px;
  color: white;
  font-size: 20px;
  float: right;

  padding: 20px;
}

.album-title {
  padding-top: 155px;
  font-size: 60px;
  text-align: left;
  color: white;
}

.album-userName {
  text-align: left;
  margin-left: 5px;
  color: white;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid white;
  color: white;
  font-weight: bold;
}

.header-info {
  flex: 1;
}
.songs-container {
  padding-top: 60px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  padding: 30px;
}

.song-row {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  transition: background-color 0.3s ease;
}
a {
  text-decoration: none;
}

.song-row:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.song-info {
  flex: 1;
}

.save-button {
  padding: 10px 20px;
  background-color: #7858b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.save-button:hover {
  background-color: #624798;
}

.song-column {
  display: flex;
  flex-direction: row;
}

.delete-song-button {
  color: white;
  padding: 5px;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 90%;
  background-color: rgba(255, 2, 2, 0.541);
  border: 1px solid rgb(255, 255, 255);
}

.delete-song-button:hover {
  background-color: rgb(255, 2, 2);
  cursor: pointer;
}

.user-link {
  color: white;
  padding: 3px;
  margin-right: 10px;
  font-size: 20px;
  background-color: rgba(218, 210, 255, 0.492);
  border-radius: 5px;
}

.user-link:hover {
  text-decoration: underline;
  background-color: rgba(208, 198, 255, 0.562);
  cursor: pointer;
}
