.save-button2 {
  padding: 10px 20px;
  margin-right: 65%;
  background-color: #7858b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.save-button2:hover {
  background-color: #624798;
}

.inpclass {
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
